*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    overflow-x: hidden;
}

/* fonts */
@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.ttf);
}

/* layout helpers */

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    z-index: 1;
    padding: 3em;
}
  
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* header */

header{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #926FF6;
    position: relative;
}

header::after{
    content: "";
    position: absolute;
    height: 80px;
    left: -5%;
    right: -5%;
    border-radius: 50%;
    bottom: -25px;
    background: #fff;
}

.nav li{
    list-style-type: none;
    padding: 7px 10px;
    color: #FFFFFF;
    display: inline;
    font-size: 12px;
    font-family: 'Poppins';
}

.logo{
    font-size: 1.5em;
    float: left;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: bold;
}

.center{
    color: #FFFFFF;
    padding: 100px;
    text-align: center;
    margin-top: 3em;
    font-family: 'Poppins';
}

.miniHeader{
    color: #FFE074;
    padding-bottom: 0.5em;
    line-height: 71.5%;
    font-weight: lighter;
}

.center h1{
    font-size: 4em;
    font-weight: bolder;
}

/* scroll icon */
.center img{
    margin-top: 3em;
}

/* video feature section */


.img2{
    float: right;
    margin-left: 3em;
}

.clearfix{
    overflow: auto;
}

.class::after{
    content: "";
    clear: both;
    display: table;
}

.videoFeature{
    margin-top: 8em;
    font-family: 'Poppins';
    width: 75%;
    margin-left: 12.5%;
    text-align: left;
}

.miniHeaderTwo{
    color: #FFAE00;
    font-size: 1em;
}

.videoFeature h3{
    margin-top: .3em;
    font-weight: bold;
    font-size: 1.5em;
}

.videoDesc{
    color: #4F4F4F;
    letter-spacing: 2px;
    font-size: 0.8em;
    margin-top: 2em;
    line-height: 200%;
    padding-right: 5em;
}

.playButton{
    margin-top: 2em;
    width: max-content;
}

.playButton p{
    color: #F3849F;
    float: right;
    padding-top: 0.75em;
}

/* icon box */

.row{
    text-align: center;
    font-family: 'Poppins'; 
    margin-top: 14em;
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2em;
}

.container h4{
    font-style: bold;
}

.container p{
    font-size: .75em;
    letter-spacing: 0.36px;
    padding-top: 0.5em;
}

.iconOne{
    background-color: #926FF6;
    padding: 0.8em;
    border-radius: 50%;
}

.iconTwo{
    background-color: #F3849F;
    padding: 0.8em;
    border-radius: 50%;
}

.iconThree{
    background-color: #79CFFF;
    padding: 0.8em;
    border-radius: 50%;
}

/* portfolio section */

.portfolio{
    font-family: 'Poppins';
    text-align: left;
}

.portfolio svg{
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 130%;
}

.port{
    margin-top: 6em;
    margin-bottom: 1em;
    font-weight: bolder;
}

.portfolio h2{
    color: #4F4F4F;
    font-size: 1.5em;
    font-style: bold;
    margin-bottom: 0.5em;
}

.projects li{
    float: left;
    font-size: 0.75em;
    padding: 5px 20px;
    list-style-type: none;
    margin-bottom: 4em;
    color: #828282;
}

/* portfolio - cards */

.gallery{
    width: 75%;
    margin-left: 12.5%;
    float: left;
    height: 60em;
    position: relative;
}

.cards{
    display: block;
    width: 26em;
    height: 271px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    float: left;
    margin-right: 2.5em;
    margin-bottom: 2.5em;
}

/* blog section */

.blog{
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: -210%;
    left: -1%;
}